page-image-view {
  // .toolbar-background-ios,
  // .toolbar-background-md {
  //   background: #181818;
  // }

  $toolbar-ios-title-text-color: white;

  // background: #181818;
  .scroll-content {
    // background: #181818;
    background: black;
  }

  ion-content {
    background: #181818;

    .image_loading_div {
      width: 100%;
      height: 90%;
      background: rgba(0, 0, 0, 0.363);
      // border: 1px solid rgba(255, 255, 255, 0.301);
      text-align: center;
      position: absolute;
      margin-top: 0px;
      margin-bottom: 0px;
      display: block;
      margin: auto;
      .spinner_div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      ion-spinner * {
        stroke: #fff;
        width: 28px;
        height: 28px;
      }
    }

    .view_image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .landscape {
        width: 90%;
        margin-top: 0px;
        margin-bottom: 0px;
        display: block;
        margin: auto;
        max-height: 100%;
      }
      .portrait {
        // margin-bottom: 50%;
        // margin-top: 50%;
      }
    }
    .title {
      color: white;
      bottom: 20px;
      text-align: center;
      position: absolute;
      width: 100%;
      left: 0px;
    }
  }
}
