page-image-view {
  background: #181818;
  .scroll-content {
    background: #181818;
  }

  ion-content {
    background: #181818;
    img {
      margin-bottom: 50%;
      margin-top: 50%;
    }

    .landscape {
      width: 90%;
      margin-top: 0px;
      margin-bottom: 0px;
      display: block;
      margin: auto;
      max-height: 100%;
    }
    .portrait {
      margin-bottom: 50%;
      margin-top: 50%;
    }
  }
}
