<ion-header [@visibility]='visibility'>
  <ion-navbar color="dark">
    <!-- <ion-title>{{ nasaData.date | date: 'mediumDate' }}</ion-title> -->
    <!-- <ion-buttons>
        <button ion-button icon-only start>
          <ion-icon *ngIf="platformName === 'ios' && nasaData.imageLoaded" class="share_icon" icon-only color="light" name="share-outline"></ion-icon>
          <ion-icon *ngIf="platformName === 'android' && nasaData.imageLoaded" class="share_icon" icon-only color="light" name="share"></ion-icon>
        </button>
      </ion-buttons> -->

    <ion-buttons start>
      <!-- <button ion-button icon-only (click)="dismiss()">
          <ion-icon class="icon_size" icon-only color="light" name="close"></ion-icon>
        </button> -->


    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="favoriteData(nasaData)">
        <ion-icon class="icon_size" icon-only color="light" name="{{nasaData.isFav ? 'heart' : 'heart-outline'}}"></ion-icon>
      </button>
      <button ion-button icon-only (click)="shareImage()">
        <ion-icon *ngIf="platformName === 'ios'" class="icon_size" icon-only color="light" name="share-outline"></ion-icon>
        <ion-icon *ngIf="platformName === 'android'" class="icon_size" icon-only color="light" name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content fullscreen="true">

  <!-- <div *ngIf="!nasaData.imageLoaded" class="placeholder">
    <img width="100%" height="150px" src="../../assets/imgs/spinner.gif" [hidden]="nasaData.imageLoaded">
    <img src="{{localDirectory + nasaData.fileName}}" [hidden]="!nasaData.imageLoaded"/>
  </div> -->

  <div class="today_image">
    <img src="{{localDirectory + nasaData.fileName}}" (click)="openImageView()" />
  </div>
  <div (tap)="tapEvent($event)">
    <p class="base date">{{ nasaData.date | date: 'mediumDate' }}</p>
    <div class="copyright_parent">
      <span *ngIf="nasaData.copyright !== ''" class="base">&#169;</span>
      <p class="base copyright">
        {{ nasaData.copyright }}
      </p>
    </div>
    <h1 class="base title">{{ nasaData.title }}</h1>
    <p class="base explanation">{{ nasaData.explanation }}</p>
  </div>
</ion-content>
