<ion-header>
  <ion-navbar color="dark">
    <ion-title>Recents</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div class="no_fav" *ngIf="data.length === 0">
    <h1 style="color: white">You haven't explored anything yet.</h1>
  </div>
  <ion-card *ngFor="let item of data" (click)="openRecentsDetail(item)">
    <div class="parent_div">
      <div class="image_div">
        <img class="image" src="{{localDirectory + item.fileName}}" alt="no image here">
      </div>
      <!-- <div class="date_title_div"> -->
      <div class="date_div">
        <p class="date">{{item.date | date: 'dd MMM'}}</p>
      </div>
      <div class="title_div">
        <p class="title">{{item.title}}</p>
      </div>
      <!-- </div> -->

    </div>

  </ion-card>

</ion-content>
