page-popover {
  .text-input-ios {
    margin: 0;
    padding: 0;
    width: 20px;
    border-bottom: 1px solid white;
    margin-right: 5px;
    text-align: center;
  }
  .date_div {
    background: #181818;
    height: 130px;
    .year_input {
      display: inline-flex;
      position: absolute;
      top: 13px;
      left: 50px;
    }
    .date_month_input {
      display: inline-flex;
      position: absolute;
      top: 60px;
      left: 40px;
    }
    .slash {
      color: white;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 25px;
    }
    .base {
      color: white;
      font-size: 20px;
    }

    .search_button {
      position: absolute;
      bottom: -7px;
      left: 87px;
    }
  }
}
